<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All sites</a></li>
    <li><a href='#' class='create'>Fetch Weather</a></li>
  </ul>

    <a href='/logout' class='logout'>Logout</a>
    </div>
  <div id='container'></div>
</script>

<script id='link' type='text/x-handlebars-template'>
  <img src='/redirect_icon.png'/>
  <div class='info'>
    <div class='visits'><span class='count'>{{visits}}</span>Visits</div>
    <div class='title'>{{name}} {{zipcode}} {{temperature}} {{wind}} {{direction}} add some test</div>
    <div class='original'>{{url}} url</div>
    <a href='{{baseUrl}}/{{code}}'>{{baseUrl}}/{{code}} url and such</a>
  </div>
</script>

<script id='zip' type='text/x-handlebars-template'>
  <img src='/redirect_icon.png'/>
  <div class='info'>
    <div class='title'>{{name}} {{zipcode}}</div>
    <div class='original'>{{temperature}} degrees with wind at {{wind}}mph from {{direction}}</div>
  </div>
</script>

<script id='create' type='text/x-handlebars-template'>
  <form>
      <input class='text' type='text' name='url'>
      <input type='submit' value='Shorten'>
  </form>
  <img class='spinner' src='/spiffygif_46x46.gif'>
  <div class='message'></div>
</script>

<script>
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>