<script id='layout' type='text/x-handlebars-template'>
  <div class='navigation'>
  <ul>
    <li><a href='#' class='index'>All sites</a></li>
    <li><a href='#' class='create'>Fetch Weather</a></li>
  </ul>

    <a href='/logout' class='logout'>Logout</a>
    </div>
  <div id='container'></div>
</script>

<script id='zip' type='text/x-handlebars-template'>
{{{thumbTest temperature wind direction}}}
  <div class='info'>
    <div class='title'>{{name}} {{zipcode}}</div>
    <div class='original'>{{{tempTest temperature}}} degrees with wind at {{{windSpeedTest wind}}} from {{{windDirectionTest direction}}}</div>
  </div>
</script>

<script id='create' type='text/x-handlebars-template'>
  <form>
      <input class='text' type='text' name='url' placeholder='Zipcode' maxlength='5' autofocus pattern='[\d]{5}'>
      <input type='submit' value='Get Weather at Zipcode'>
  </form>
  <img class='spinner' src='/spiffygif_46x46.gif'>
  <div class='message'></div>
</script>

<script>
  window.Templates = {};
  $('[type="text/x-handlebars-template"]').each(function(index, div){
    Templates[div.id] = Handlebars.compile(div.innerHTML);
  });
</script>